h1 {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 56px;
}

h2{
  font-family: 'Gotham pro', sans-serif;
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 700;
}
p {
  font-family: 'Gotham pro', sans-serif;
  line-height: 1.50em;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: underline;
  color: #162C83;
}
