@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamProBlack.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamProRegular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

h1 {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 56px;
}

h2{
  font-family: 'Gotham pro', sans-serif;
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 700;
}

h3{
  font-family: 'Gotham pro', sans-serif;
  font-size: 24px;
  line-height: 1.1em;
  font-weight: 700;
}

p {
  font-family: 'Gotham pro', sans-serif;
  line-height: 1.50em;
  font-size: 16px;
  font-weight: 400;
}


