$sm-width: 575px;
$md-width: 767px;
$lg-width: 991px;
$xl-width: 1200px;

@mixin xs {
	@media (max-width: #{$sm-width}) {
	  @content;
	}
}

@mixin sm {
  @media (max-width: #{$md-width}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$lg-width}) {
    @content;
  }
}

@mixin lg {
	@media (max-width: #{$xl-width}) {
	  @content;
	}
  }

@mixin xl {
  @media (min-width: #{$xl-width + 1}) {
    @content;
  }
}
